<launch>
    <arg name="mavlink_addr" default="INADDR_ANY"/>
    <arg name="mavlink_udp_port_local" default="14005"/>
    <arg name="mavlink_udp_port_remote" default="14007"/>

    <node pkg="dji_sdk" type="dji_sdk_node" name="dji_sdk" output="screen">
        <!-- node parameters -->
        <param name="serial_name" type="string" value="/dev/ttyUSB0"/>
        <param name="baud_rate" type="int" value="230400"/>
        <param name="app_id" type="int" value="1037765"/>
        <param name="app_version" type="int" value="1"/>
        <param name="align_time" type="bool" value="false"/>
        <param name="enc_key" type="string"
               value="93cb344b77d13ff599a2b21311ada0741a2504462328c8499cfd88dc6a9ffc1f"/>
        <param name="use_broadcast" type="bool" value="false"/>
        <param name="drone_version" value="M600"/>

        <param name="mavlink_addr" value="$(arg mavlink_addr)"/>
        <param name="mavlink_udp_port_local" value="$(arg mavlink_udp_port_local)"/>
        <param name="mavlink_udp_port_remote" value="$(arg mavlink_udp_port_remote)"/>
    </node>
</launch>
